<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CyberLearn Dressing Room</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./../assets/css/style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="text-center">
              <img src="./../assets/images/cybersoft.png" alt="Card image" />
            </div>

            <div class="card-body">
              <h4 class="card-title text-center">
                CyberLearn - Học lập trình trực tuyến - Dự án thử đồ trực tuyến
                - Virtual Dressing Room
              </h4>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <ul class="nav nav-pills">
            <div class="projects__tab">
              <ul class="nav nav-pills mb-1" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="pills-topcloth-tab"
                    data-toggle="pill"
                    href="#pills-topcloth"
                    role="tab"
                    aria-controls="pills-topcloth"
                    aria-selected="true"
                    >Áo</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="pills-botcloth-tab"
                    data-toggle="pill"
                    href="#pills-botcloth"
                    role="tab"
                    aria-controls="pills-botcloth"
                    aria-selected="false"
                    >Quần</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="pills-shoes-tab"
                    data-toggle="pill"
                    href="#pills-shoes"
                    role="tab"
                    aria-controls="pills-shoes"
                    aria-selected="false"
                    >Giày dép</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="pills-handbag-tab"
                    data-toggle="pill"
                    href="#pills-handbag"
                    role="tab"
                    aria-controls="pills-handbag"
                    aria-selected="false"
                    >Túi xách</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="pills-necklace-tab"
                    data-toggle="pill"
                    href="#pills-necklace"
                    role="tab"
                    aria-controls="pills-necklace"
                    aria-selected="false"
                    >Dây chuyền</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="pills-hairstyle-tab"
                    data-toggle="pill"
                    href="#pills-hairstyle"
                    role="tab"
                    aria-controls="pills-hairstyle"
                    aria-selected="false"
                    >Kiểu tóc</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="pills-background-tab"
                    data-toggle="pill"
                    href="#pills-background"
                    role="tab"
                    aria-controls="pills-background"
                    aria-selected="false"
                    >Nền</a
                  >
                </li>
              </ul>
            </div>
          </ul>

          <div class="well">
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-content" id="pills-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="pills-topcloth"
                  role="tabpanel"
                  aria-labelledby="pills-topcloth-tab"
                >
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/clothes/topcloth1_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Top Cloth 1</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuTopCloth1()"
                          >
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/clothes/topcloth2_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Top Cloth 2</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuTopCloth2()"
                          >
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/clothes/topcloth3_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Top Cloth 3</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuTopCloth3()"
                          >
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/clothes/topcloth4_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Top Cloth 4</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuTopCloth4()"
                          >
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/clothes/topcloth5_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Top Cloth 5</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuTopCloth5()"
                          >
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/clothes/topcloth6_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Top Cloth 6</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuTopCloth6()"
                          >
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-botcloth"
                  role="tabpanel"
                  aria-labelledby="pills-botcloth-tab"
                >
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/clothes/botcloth1_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Bot Cloth 1</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuBotCloth1()"
                          >
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/clothes/botcloth2_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Bot Cloth 2</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuBotCloth2()"
                          >
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/clothes/botcloth3_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Bot Cloth 3</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuBotCloth3()"
                          >
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/clothes/botcloth4_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Bot Cloth 4</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuBotCloth4()"
                          >
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/clothes/botcloth5_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Bot Cloth 5</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuBotCloth5()"
                          >
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-shoes"
                  role="tabpanel"
                  aria-labelledby="pills-shoes-tab"
                >
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/shoes/shoes1_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Shoes 1</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuShoes1()"
                          >
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/shoes/shoes2_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Shoes 2</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuShoes2()"
                          >
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/shoes/shoes3_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Shoes 3</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuShoes3()"
                          >
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/shoes/shoes4_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Shoes 4</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuShoes4()"
                          >
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/shoes/shoes5_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Shoes 5</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuShoes5()"
                          >
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-handbag"
                  role="tabpanel"
                  aria-labelledby="pills-handbag-tab"
                >
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/handbags/handbag1_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Handbag 1</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuHandbag1()"
                          >
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/handbags/handbag2_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Handbag 2</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuHandbag2()"
                          >
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/handbags/handbag3_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Handbag 3</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuHandbag3()"
                          >
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-necklace"
                  role="tabpanel"
                  aria-labelledby="pills-necklace-tab"
                >
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/necklaces/necklace1_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Necklace 1</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuNecklace1()"
                          >
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/necklaces/necklace2_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Necklace 2</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuNecklace2()"
                          >
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/necklaces/necklace3_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Necklace 3</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuNecklace3()"
                          >
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-hairstyle"
                  role="tabpanel"
                  aria-labelledby="pills-hairstyle-tab"
                >
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/hairstyle/hairstyle1_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Hairstyle 1</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuHairstyle1()"
                          >
                            Thử tóc
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/hairstyle/hairstyle2_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Hairstyle 2</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuHairstyle2()"
                          >
                            Thử tóc
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/hairstyle/hairstyle3_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Hairstyle 3</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuHairstyle3()"
                          >
                            Thử tóc
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-background"
                  role="tabpanel"
                  aria-labelledby="pills-background-tab"
                >
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/background/background1_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Background 1</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuBackground1()"
                          >
                            Thử nền
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/background/background2_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Background 2</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuBackground2()"
                          >
                            Thử nền
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/background/background3_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Background 3</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuBackground3()"
                          >
                            Thử nền
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/background/background4_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Background 4</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuBackground4()"
                          >
                            Thử nền
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/background/background5_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Background 5</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuBackground5()"
                          >
                            Thử nền
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/background/background6_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Background 6</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuBackground6()"
                          >
                            Thử nền
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card text-center">
                        <img
                          class="card-img-top"
                          src="../assets/images/background/background7_show.jpg"
                          alt=""
                        />
                        <div class="card-body">
                          <h4 class="card-title">Background 7</h4>
                          <button
                            class="btn btn-secondary"
                            onclick="thuBackground7()"
                          >
                            Thử nền
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contain">
            <div class="body" id="body"></div>
            <div class="model" id="model"></div>
            <div class="hairstyle" id="hairstyle"></div>
            <div class="necklace" id="necklace"></div>
            <div class="bikinitop" id="bikinitop"></div>
            <div class="bikinibottom" id="bikinibottom"></div>
            <div class="handbag" id="handbag"></div>
            <div class="feet" id="feet"></div>
            <div class="background" id="background">
              <img src="../assets/images/background/background3.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script src="./../models/ListChosen.js"></script>
    <script src="./../models/ChoseItem.js"></script>
    <script src="./../utils/callData.js"></script>
    <script src="./../controllers/main.js"></script>
  </body>
</html>
